.project {
  position: relative;
    text-align: center;
  }
  .project-1-content{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(192, 192, 192);
  }
  
  .project-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 25px aqua;
  }
  
  .overlay-parent {
    position: relative;
    display: inline-block;
  }
  
  video {
    width: 500px;
    height: auto;
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
  }
  
  .overlay-parent:hover .overlay {
    opacity: 1;
  }
  
  .hover-text {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .project-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .project-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 70px;

  }
  .click-github-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    background-color:rgb(6, 139, 139);
    padding: 2px;
    box-shadow: 0 0 15px black;
  }
  .click-github-container span{
    color: black;
    font-size: 1rem;

  }
  .click-github-container img{
    color: white;
    
  }
  .click-github{
    width: 35px;
  }
  .click-github-container:hover{
    cursor: pointer;
    background-color: aqua;
  }
  a{
    text-decoration: none;
  }
  