.contact-body{
    background-color: rgb(69, 66, 66);
    display: flex;
    justify-content: center;
}
.phone{
    width: 100px;
}
.mail-parent{
    display: flex;
    justify-content:first baseline;
    align-items: center;
    gap: 40px;
}
.mail-parent p{
    font-size: 40px;
}
.phone-parent{
    display: flex;
    align-items: center;
    gap: 40px;
}
.phone-parent p{
    font-size: 40px;
}
@media screen and (max-width: 750px){
    .phone{
        width: 55px;
    }
    .mail{
        width: 55px;
    }
    .phone-parent p{
        font-size: 20px;
    }
    .mail-parent p{
        font-size: 20px;
    }
    
    
  }
