
.haboc{
    color: aqua;
    text-shadow: 0px 0px 25px aqua;
    border: none;
    font-weight: bold;
    
}

.home-link{
    font-size: 30px;
    cursor: pointer;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0);

}
.links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 100px;
    font-size: 20px;
    
   
}

.links:hover{
   cursor: pointer;
   

}
.about-link:hover{
    color: aqua;
  
}
.projects-link:hover{
    color: aqua;
}
.contact-link:hover{
    color: aqua;
}
